<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :nome, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :nome, id: :student_nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :matricula, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :matricula, id: :student_matricula, class: "form-control"  %>
    </div>
  </div>

  <%= form.fields_for :contact do |contato| %>
    <div class="form-group row">
      <%= form.label :email, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= contato.text_field :email, id: :student_email, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :telefone, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= contato.text_field :telefone, id: :student_telefone, class: "form-control"  %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Salvar", class:"button btn btn-primary"%>
  </div>
<% end %>
